#
# Copyright (c) 2019-2020 P3TERX <https://p3terx.com>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#
# https://github.com/P3TERX/Actions-OpenWrt
# Description: Build OpenWrt using GitHub Actions
#

name: build-X86-64

permissions: write-all
#开启写权限，防止无法上传到release

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
   - cron: 0 20 */4 * *
   #      分,时,日,月,周。每四天20时执行一次 (UTC时间)
  
env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  FREE_DISK_SH: scripts/free_disk_space.sh
  ENV_SH: scripts/environment.sh
  REPO_URL: https://github.com/immortalwrt/immortalwrt
  REPO_BRANCH: openwrt-24.10
  # 修改 REPO_BRANCH 来达到更改编译版本
  PLATFORM_FILE: configs/X86.txt
  CONFIG_FILE: configs/Packages.txt
  SETTINGS_SH: scripts/init-settings.sh
  PACKAGES_SH: scripts/packages.sh
  HANDLES_SH: scripts/Handles.sh
  CLASH_CORE_SH: scripts/preset-clash-core-amd64.sh
  UPLOAD_BIN_DIR: false
  UPLOAD_FIRMWARE: false
  UPLOAD_RELEASE: true
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: 检查代码
      uses: actions/checkout@main

    - name: 初始化环境
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        chmod +x $FREE_DISK_SH && $FREE_DISK_SH
        sudo -E apt-get -qq update -y
        sudo -E apt-get -qq full-upgrade -y
        chmod +x $ENV_SH && $ENV_SH
        sudo rm -rf /etc/apt/sources.list.d/*
        sudo rm -rf /var/lib/apt/lists/*
        # 设置时区
        sudo timedatectl set-timezone "$TZ"
        sudo mkdir -p /workdir
        sudo chown $USER:$GROUPS /workdir

    - name: 检查空间使用情况（初始化）
      if: (!cancelled())
      run: df -hT

    - name: 克隆源码
      working-directory: /workdir
      run: |
        git clone $REPO_URL --depth 1 -b $REPO_BRANCH openwrt
        ln -sf /workdir/openwrt $GITHUB_WORKSPACE/openwrt

        cd ./openwrt/ && echo "WRT_HASH=$(git log -1 --pretty=format:'%h')" >> $GITHUB_ENV

        # GitHub Action 移除国内下载源
        PROJECT_MIRRORS_FILE="./scripts/projectsmirrors.json"
        if [ -f "$PROJECT_MIRRORS_FILE" ]; then
          sed -i '/.cn\//d; /tencent/d; /aliyun/d' "$PROJECT_MIRRORS_FILE"
        fi

    - name: 检查缓存
      id: check-cache
      uses: actions/cache@main
      with:
        key: x86-${{env.REPO_BRANCH}}-${{env.WRT_HASH}}
        restore-keys: x86-${{env.REPO_BRANCH}}
        path: |
          ./openwrt/.ccache
          ./openwrt/staging_dir/host*
          ./openwrt/staging_dir/tool*

    - name: 开启CCACHE配置
      run: |
        echo 'CONFIG_DEVEL=y' >> openwrt/.config
        echo 'CONFIG_CCACHE=y' >> openwrt/.config

    - name: 更新缓存
      run: |
        if [ -d "./openwrt/staging_dir" ]; then
          find "./openwrt/staging_dir" -type d -name "stamp" -not -path "*target*" | while read -r DIR; do
            find "$DIR" -type f -exec touch {} +
          done

          mkdir -p ./openwrt/tmp && echo "1" > ./openwrt/tmp/.build

          echo "toolchain skiped done!"
        else
          echo "caches missed!"
        fi

        if ${{steps.check-cache.outputs.cache-hit != 'true'}}; then
          CACHE_LIST=$(gh cache list --key "x86-$REPO_BRANCH" | cut -f 1)
          for CACHE_KEY in $CACHE_LIST; do
            gh cache delete $CACHE_KEY
          done

          echo "caches cleanup done!"
        fi

    - name: 安装 feeds
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: 导入补丁和配置 & 执行脚本
      run: |
        [ -d files ] && mv files openwrt/files || echo "files not found"
        [ -f $PLATFORM_FILE ] && cat $PLATFORM_FILE >> openwrt/.config
        [ -f $CONFIG_FILE ] && cat $CONFIG_FILE >> openwrt/.config
        cd openwrt
        chmod +x $GITHUB_WORKSPACE/$SETTINGS_SH && $GITHUB_WORKSPACE/$SETTINGS_SH
        chmod +x $GITHUB_WORKSPACE/$PACKAGES_SH && $GITHUB_WORKSPACE/$PACKAGES_SH
        chmod +x $GITHUB_WORKSPACE/$HANDLES_SH && $GITHUB_WORKSPACE/$HANDLES_SH
        chmod +x $GITHUB_WORKSPACE/$CLASH_CORE_SH && $GITHUB_WORKSPACE/$CLASH_CORE_SH

    - name: 下载文件
      run: |
        cd openwrt
        make defconfig
        make download -j8 V=10
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;

    - name: 空间使用情况（编译前）
      if: (!cancelled())
      run: df -hT

    - name: 编译工具链
      id: mtools
      run: |
        cd openwrt
        make defconfig
        echo -e "$(($(nproc)+1)) thread compile"
        make tools/compile -j$(($(nproc)+1)) || make tools/compile -j1 V=s
        make toolchain/compile -j$(($(nproc)+1)) || make toolchain/compile -j1 V=s
        echo "status=success" >> $GITHUB_OUTPUT

    - name: 空间使用情况（工具链占用）
      if: (!cancelled())
      run: df -hT

    - name: 清除工具链编译中间产物...
      if: steps.mtools.outputs.status == 'success' && !cancelled()
      run: |
        cd openwrt
        rm -rf dl/*
        rm -rf build_dir/host/*
        rm -rf build_dir/toolchain-*

    - name: 空间使用情况（清理后占用）
      if: (!cancelled())
      run: df -hT

    - name: 编译内核
      id: mkernel
      if: steps.mtools.outputs.status == 'success' && !cancelled()
      run: |
        cd openwrt
        echo -e "$(($(nproc)+1)) thread compile"
        make target/linux/compile -j$(($(nproc)+1)) || make target/linux/compile -j1 V=s
        echo "status=success" >> $GITHUB_OUTPUT

    - name: 空间使用情况（内核占用）
      if: (!cancelled())
      run: df -hT

    - name: 编译插件
      id: mpackage
      if: steps.mkernel.outputs.status == 'success' && !cancelled()
      run: |
        cd openwrt
        echo -e "$(($(nproc)+1)) thread compile"
        make package/compile -j$(($(nproc)+1)) || make package/compile -j1 V=s
        make package/install -j$(nproc) || make package/install -j1 V=s
        make package/index
        echo "status=success" >> $GITHUB_OUTPUT

    - name: 空间使用情况（插件占用）
      if: (!cancelled())
      run: df -hT

    - name: 清除插件编译文件
      id: cpackage
      if: steps.mpackage.outputs.status == 'success' && !cancelled()
      run: |
        cd openwrt
        rm -rf build_dir/target-*/host
        echo "status=success" >> $GITHUB_OUTPUT

    - name: 空间使用情况（插件清理后占用）
      if: (!cancelled())
      run: df -hT

    - name: 编译固件
      id: compile
      if: steps.cpackage.outputs.status == 'success' && !cancelled()
      run: |
        cd openwrt
        echo -e "$(nproc) thread compile"
        make target/install -j$(nproc) || make target/install -j1 V=s
        make json_overview_image_info
        make checksum
        echo "status=success" >> $GITHUB_OUTPUT
        
    - name: 空间使用情况（编译占用）
      if: (!cancelled())
      run: df -hT

    - name: 上传 bin 目录
      uses: actions/upload-artifact@main
      if: steps.compile.outputs.status == 'success' && env.UPLOAD_BIN_DIR == 'true'
      with:
        name: OpenWrt_bin${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
        path: openwrt/bin

    - name: 整理文件
      id: organize
      if: steps.compile.outputs.status == 'success' && !cancelled()
      run: |
        cd openwrt/bin/targets/*/*
        rm -rf *.bin
        rm -rf *.buildinfo
        rm -rf *rootfs.tar.gz
        rm -rf *rootfs.img.gz
        rm -rf *combined.img.gz
        rm -rf *.json 
        rm -rf *.manifest
        rm -rf sha256sums
        rm -rf packages
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
        echo "status=success" >> $GITHUB_OUTPUT

    - name: 上传固件目录
      uses: actions/upload-artifact@main
      if: env.UPLOAD_FIRMWARE == 'true' && steps.organize.outputs.status == 'success' && !cancelled()
      with:
        name: OpenWrt_firmware${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
        path: ${{ env.FIRMWARE }}

    - name: 生成发布标签
      id: tag
      if: env.UPLOAD_RELEASE == 'true' && steps.compile.outputs.status == 'success' && !cancelled()
      run: |
        VERSION1="${REPO_BRANCH#*-}"
        echo -e "  X86-64 平台\n  ${VERSION1} 源码\n ip地址 : 192.168.5.1" >> release.txt
        echo "release_tag=$(date +"%Y.%m.%d-${VERSION1}_X86-64")" >> $GITHUB_OUTPUT
        echo "status=success" >> $GITHUB_OUTPUT

    - name: 上传固件到发布
      uses: softprops/action-gh-release@v2.0.4
      if: steps.tag.outputs.status == 'success' && !cancelled()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.tag.outputs.release_tag }}
        body_path: release.txt
        files: ${{ env.FIRMWARE }}/*

    - name: 删除以前发布的固件
      uses: dev-drprasad/delete-older-releases@v0.3.3
      if: steps.compile.outputs.status == 'success' && env.UPLOAD_RELEASE == 'true' && !cancelled()
      with:
        keep_latest: 15
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: 删除以前的工作流程
      uses: Mattraks/delete-workflow-runs@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        repository: ${{ github.repository }}
        retain_days: 1
        keep_minimum_runs: 3
